extends ../layouts/main-layout.pug 
include ../includes/orders-product

block style 
    link(rel="stylesheet", href="/css/product.css")

block main
    main 
        if orders.length > 0
            ul 
                each order in orders
                    +orders-product(order) 
        else 
            h1 No orders made yet