extends ../layouts/main-layout.pug 

block style 
    link(rel="stylesheet", href="/css/forms.css")

block main
    main 
        p Are you sure you want to delete the product?
        form(action="/admin/delete-product", method="post")
            +csrf-input(prod) 
            input(type="submit", name="yes", value="Yes") 
            input(type="submit", name="no", value="No")
            input(type="hidden", name="productId", value=prod.id)
