extends ../layouts/main-layout.pug 

block style 
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")

block main
    main 
        if(errorMessage)
            div.user-message.user-message--error #{errorMessage}
        form.login-form(action="/signup", method="post") 
            .form-control 
                label(for="name") Name 
                input#name(type="name", name="name")
            .form-control 
                label(for="email") E-Mail 
                input#email(type="email", name="email")
            .form-control 
                label(for="password") Password
                input#password(type="password", name="password")
            .form-control 
                label(for="confirmPassword") Confirm password 
                input#confirmPassword(type="password", name="confirmPassword")
            +csrf-input(prod) 
            button.btn(type="submit") Signup