<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
    <link rel="stylesheet" href="/css/add-user.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/js/user.js" defer></script>
</head>
<body>
    <header class="main-header">
        <h1>Add user</h1>
        <nav class="main-header-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin/add-user">Users</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="user-form">
            <h2>Form</h2>
            <div>
                <div class="form_input">
                    <label for="firstname">Firstname</label>
                    <input type="text" name="firstname" id="firstname" />
                </div>
                <div class="form_input">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" />
                </div>
                <div class="form_input">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" />
                </div>
            </div>
            <button id="add-user">Add user</button>
        </div>
        <div>
            <h2>All users</h2>
            <div id="users-panel"></div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>