<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My beautiful Node JS app</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <header class="main-header">
        <h1>Exercise 2 of node js course</h1>
        <nav class="main-header-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin/add-user">Users</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <p>Welcome to my beautiful Node JS application</p>
    </main>
</body>
</html>