#users-panel {
    margin-top: 20px 0;
    display: block;
    height: 60vh;
    overflow-y: scroll;
}

#user-form {
    display: flex;
    flex-direction: column;
}

#user-form > div{
    width: 50%;
}

.form_input {
    width: 100%;
    display: grid;
    grid: auto-flow dense / 10% 50% 1fr;
}

#user-form button {
    margin-top: 20px;
    width: 20%;
}