body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main-header {
    top: 0;
    background-color: #3c8dbc;
    color: #fff;
    position: fixed;
    width: 90%;
    padding-inline: 5%;
}

.main-header-nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.main-header-nav ul a {
    padding-inline: 20px;
    display: block;
    text-decoration: none;
}

main {
    margin-top: 8rem;
    padding: 0 20px;
    width: 80%;
}