extends ../layouts/main-layout.pug 

block style 
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")

block main
    main 
        if(errorMessage)
            div.user-message.user-message--error #{errorMessage}
        form.login-form(action="/reset-pwd", method="post")
            div.form-control
                label(for="email") E-mail 
                input#email(type="email", name="email")
            +csrf-input() 
            button.btn(type="submit") Reset password