mixin cart-product(data)
    li.cart__item
        h1 #{data.title}
        h2 Quantity: #{data.cartItem.quantity}
        form(action="/cart-delete-item", method="post")
            input(type="hidden", name="productId", value=data.id)
            button.btn.danger(type="submit") Delete