extends ../layouts/main-layout.pug 
include ../includes/cart-product

block style 
    link(rel="stylesheet", href="/css/product.css")

block main
    main 
        if prods.length > 0
            div.grid 
                each prod in prods 
                    +cart-product(prod) 
            div 
                p Total price: #{totalPrice}
        else 
            <h1>Your cart is empty. Go buy something